body {
    margin: 0px;
    background: url(https://i.pinimg.com/736x/30/04/4e/30044e93eb474eee00db7b85cc5fef7e--purple-dinnerware-grey-plates.jpg) scroll;
    background-size:cover;
}
header {
    
    color: #FFFFF0;
    font-family: Arial;
    background-color:#333a42;
    padding: 17px
}
header h1 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    display: inline;
}
nav ul {
    display: inline; 
}
nav ul li {
    float: right;
    padding: 0px 8px;
    list-style-type: none;
    display: inline-block;
}
nav ul li a {
    color:#868b91;
    text-decoration: none;
}
nav ul li a:hover {
    color:#FFFFF0;
}
.calweek{
    display:block;
    margin:0 0 0 9%;
    
}
.calday {
   
}
.calhead {
    font-size:25px;
    font-weight: normal;
    text-align: center;
    padding: 0 0 10px 0
}
.calimg {
    width: 100%;
    border-radius: 50%   
}
.calbody {
    text-align:center;
    padding: 0 0 20px 0
}
.calimgHover {
    width: 100%
    
}
.noHover {
    display:block;
    width: 12%;
    height: 490px;
    font-family: Arial;
    color: #FFFFF0;
    background-color:rgba(51, 58, 66, 0.9);
    float:left;
    margin:2% .025%;
    padding:5px;
    border-radius:6px;
}
.onHover {
    display:none;
    width: 19%;
    font-family: Arial;
    color: #FFFFF0;
    background-color:rgba(51, 58, 66, 0.9);
    float:left;
    margin:2% .1%;
    padding:5px;
    border-radius:6px;
    
}
.calday:hover .noHover {
    display: none;
}
.calday:hover .onHover {
    display: inherit
}